@charset "UTF-8";
main:after, .comment:after, .field--label-inline:after, .node__meta:after, ul.primary:after {
  content: "";
  display: table;
  clear: both;
}

.region-primary-menu {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

a, .breadcrumb a, .contextual-region .contextual .contextual-links a {
  color: #035c94;
}

a:hover, .contextual-region .contextual .contextual-links a:hover {
  color: #e25401;
}

body {
  color: #333;
  line-height: 1.25em;
}

body.smr-fs-12 {
  font-size: 12px;
}

body.smr-fs-13 {
  font-size: 13px;
}

body.smr-fs-14 {
  font-size: 14px;
}

body.smr-fs-15 {
  font-size: 15px;
}

body.smr-fs-16 {
  font-size: 16px;
}

body.smr-fs-17 {
  font-size: 17px;
}

body.smr-fs-18 {
  font-size: 18px;
}

body.smr-fm-impact {
  font-family: Impact, Charcoal, sans-serif;
}

body.smr-fm-palatino-linotype {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

body.smr-fm-tahoma {
  font-family: Tahoma, Geneva, sans-serif;
}

body.smr-fm-century-gothic {
  font-family: Century Gothic, sans-serif;
}

body.smr-fm-lucida-sans-unicode {
  font-family: Lucida Sans Unicode’, ‘Lucida Grande’, sans-serif;
}

body.smr-fm-arial-black {
  font-family: Arial Black’, Gadget, sans-serif;
}

body.smr-fm-times-new-roman {
  font-family: Times New Roman’, Times, serif;
}

body.smr-fm-arial-warrow {
  font-family: Arial Narrow’, sans-serif;
}

body.smr-fm-verdana {
  font-family: Verdana, Geneva, sans-serif;
}

body.smr-fm-copperplate-gothic_light {
  font-family: "Copperplate / Copperplate", Gothic Light, sans-serif;
}

body.smr-fm-lucida-console {
  font-family: "Lucida Console", Monaco, monospace;
}

body.smr-fm-gill-sans {
  font-family: "Gill Sans / Gill", Sans MT, sans-serif;
}

body.smr-fm-trebuchet-ms {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

body.smr-fm-courier-new {
  font-family: "Courier New", Courier, monospace;
}

body.smr-fm-arial {
  font-family: Arial, Helvetica, sans-serif;
}

body.smr-fm-georgia {
  font-family: Georgia, "Times New Roman", serif;
}

body.smr-fm-ubuntu {
  font-family: Ubuntu, sans-serif;
}

body.smr-fm-open-sans {
  font-family: "Open Sans", sans-serif;
}

body.smr-fm-josefin-slab {
  font-family: Josefin Slab, serif;
}

body.smr-fm-pt-sans {
  font-family: "PT Sans", sans-serif;
}

body.smr-fm-roboto {
  font-family: Roboto, sans-serif;
}

body.smr-fm-source-sans-pro {
  font-family: "Source Sans Pro", sans-serif;
}

body.smr-fm-exo {
  font-family: Exo, sans-serif;
}

h1 {
  font-size: 2.565784514em;
  margin: .5em 0;
  font-weight: normal;
  line-height: 1em;
}

h2 {
  font-size: 1.6018066406em;
  font-weight: normal;
  margin: .5em 0;
}

h3 {
  font-size: 1.125em;
  margin: .5em 0;
}

@media (max-width: 860px) {
  h1 {
    font-size: 1.8020324707em;
  }
  h2 {
    font-size: 1.423828125em;
  }
  h3 {
    font-size: 1.125em;
  }
}

@media (max-width: 520px) {
  h1 {
    font-size: 1.423828125em;
  }
  h2 {
    font-size: 1.265625em;
  }
  h3 {
    font-size: 1.125em;
  }
}

dt,
dd {
  padding: .25em;
}

.region-primary-menu nav, .container {
  padding: 0 1em;
}

body.smr-cw-800 .region-primary-menu nav, body.smr-cw-800 .container {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

body.smr-cw-800 .region-primary-menu nav:after, body.smr-cw-800 .container:after {
  content: " ";
  display: block;
  clear: both;
}

body.smr-cw-880 .region-primary-menu nav, body.smr-cw-880 .container {
  max-width: 880px;
  margin-left: auto;
  margin-right: auto;
}

body.smr-cw-880 .region-primary-menu nav:after, body.smr-cw-880 .container:after {
  content: " ";
  display: block;
  clear: both;
}

body.smr-cw-960 .region-primary-menu nav, body.smr-cw-960 .container {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
}

body.smr-cw-960 .region-primary-menu nav:after, body.smr-cw-960 .container:after {
  content: " ";
  display: block;
  clear: both;
}

body.smr-cw-1040 .region-primary-menu nav, body.smr-cw-1040 .container {
  max-width: 1040px;
  margin-left: auto;
  margin-right: auto;
}

body.smr-cw-1040 .region-primary-menu nav:after, body.smr-cw-1040 .container:after {
  content: " ";
  display: block;
  clear: both;
}

body.smr-cw-1120 .region-primary-menu nav, body.smr-cw-1120 .container {
  max-width: 1120px;
  margin-left: auto;
  margin-right: auto;
}

body.smr-cw-1120 .region-primary-menu nav:after, body.smr-cw-1120 .container:after {
  content: " ";
  display: block;
  clear: both;
}

body.smr-cw-1200 .region-primary-menu nav, body.smr-cw-1200 .container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

body.smr-cw-1200 .region-primary-menu nav:after, body.smr-cw-1200 .container:after {
  content: " ";
  display: block;
  clear: both;
}

body.smr-cw-1280 .region-primary-menu nav, body.smr-cw-1280 .container {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
}

body.smr-cw-1280 .region-primary-menu nav:after, body.smr-cw-1280 .container:after {
  content: " ";
  display: block;
  clear: both;
}

body.smr-cw-1360 .region-primary-menu nav, body.smr-cw-1360 .container {
  max-width: 1360px;
  margin-left: auto;
  margin-right: auto;
}

body.smr-cw-1360 .region-primary-menu nav:after, body.smr-cw-1360 .container:after {
  content: " ";
  display: block;
  clear: both;
}

body.smr-cw-1440 .region-primary-menu nav, body.smr-cw-1440 .container {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

body.smr-cw-1440 .region-primary-menu nav:after, body.smr-cw-1440 .container:after {
  content: " ";
  display: block;
  clear: both;
}

body.smr-cw-1520 .region-primary-menu nav, body.smr-cw-1520 .container {
  max-width: 1520px;
  margin-left: auto;
  margin-right: auto;
}

body.smr-cw-1520 .region-primary-menu nav:after, body.smr-cw-1520 .container:after {
  content: " ";
  display: block;
  clear: both;
}

body.smr-cw-1600 .region-primary-menu nav, body.smr-cw-1600 .container {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
}

body.smr-cw-1600 .region-primary-menu nav:after, body.smr-cw-1600 .container:after {
  content: " ";
  display: block;
  clear: both;
}

.sidebar {
  margin-top: 1em;
}

@media (min-width: 860px) {
  .layout-sidebar-first .page-content {
    width: 66.1016949153%;
    float: right;
    margin-right: 0;
  }
  .layout-sidebar-first .sidebar-first {
    width: 32.2033898305%;
    float: left;
    margin-right: 1.6949152542%;
    margin-top: 0;
  }
  .layout-sidebar-second .page-content {
    width: 66.1016949153%;
    float: left;
    margin-right: 1.6949152542%;
  }
  .layout-sidebar-second .sidebar-second {
    margin-top: 0;
    width: 32.2033898305%;
    float: right;
    margin-right: 0;
  }
  .layout-two-sidebars .page-content {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
  }
  .layout-two-sidebars .sidebar-first {
    width: 49.1525423729%;
    float: left;
    margin-right: 1.6949152542%;
  }
  .layout-two-sidebars .sidebar-second {
    width: 49.1525423729%;
    float: right;
    margin-right: 0;
  }
}

@media (min-width: 1024px) {
  .sidebar {
    margin-top: 0;
  }
  .layout-sidebar-first .page-content {
    width: 74.5762711864%;
    float: right;
    margin-right: 0;
  }
  .layout-sidebar-first .sidebar-first {
    width: 23.7288135593%;
    float: left;
    margin-right: 1.6949152542%;
  }
  .layout-sidebar-second .page-content {
    width: 74.5762711864%;
    float: left;
    margin-right: 1.6949152542%;
  }
  .layout-sidebar-second .sidebar-second {
    width: 23.7288135593%;
    float: right;
    margin-right: 0;
  }
  .layout-two-sidebars .page-content {
    width: 49.1525423729%;
    float: left;
    margin-left: 25.4237288136%;
    margin-right: -100%;
  }
  .layout-two-sidebars .sidebar-first {
    width: 23.7288135593%;
    float: left;
    margin-right: 1.6949152542%;
  }
  .layout-two-sidebars .sidebar-second {
    width: 23.7288135593%;
    float: right;
    margin-right: 0;
  }
}

html {
  height: 100%;
}

body.maintenance-page {
  display: table;
  height: 100%;
  width: 100%;
  background-image: none;
}

body.maintenance-page main {
  margin: auto;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.js input.form-autocomplete {
  background-position: right 3px center;
}

.js input.form-autocomplete.ui-autocomplete-loading {
  background-image: url(../images/ajax-loader.gif);
  background-position: right 3px center;
}

.ajax-progress-throbber .throbber {
  background: transparent url(../images/ajax-loader.gif) no-repeat 0 center;
}

body {
  background: #ccc url(../images/background.png) repeat-x top left;
  background-image: linear-gradient(to bottom, #aaa, #fff 30%, #fff 100%);
  padding-bottom: 1em;
}

.breadcrumb {
  margin: .35em 0 .35em .15em;
}

.button, .dropbutton-widget {
  background: #fff;
  background: -moz-linear-gradient(top, #fff 0%, #f0f0f0 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fff), color-stop(100%, #f0f0f0));
  background: -webkit-linear-gradient(top, #fff 0%, #f0f0f0 100%);
  background: -o-linear-gradient(top, #fff 0%, #f0f0f0 100%);
  background: -ms-linear-gradient(top, #fff 0%, #f0f0f0 100%);
  background: linear-gradient(to bottom, #fff 0%, #f0f0f0 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#000000', GradientType=0);
  border-radius: 6px;
  border: 1px solid #999;
  display: inline-block;
  cursor: pointer;
  padding: .35em 1em;
  text-decoration: none;
  text-shadow: 0 1px 0 #fff;
  color: #333;
  margin-left: .5em;
  margin-right: .5em;
}

.button:hover, .dropbutton-widget:hover {
  background: #fff;
  background: -moz-linear-gradient(top, #fff 0%, #f5f5f5 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fff), color-stop(100%, #f5f5f5));
  background: -webkit-linear-gradient(top, #fff 0%, #f5f5f5 100%);
  background: -o-linear-gradient(top, #fff 0%, #f5f5f5 100%);
  background: -ms-linear-gradient(top, #fff 0%, #f5f5f5 100%);
  background: linear-gradient(to bottom, #fff 0%, #f5f5f5 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#000000', GradientType=0);
  color: #333;
  border: 1px solid #999;
}

.button:active, .dropbutton-widget:active {
  position: relative;
  top: 1px;
}

.comment {
  border: solid 1px #ccc;
  border-radius: .5em;
  margin-bottom: 1em;
  padding: .5em 1em;
  background-color: #fff;
}

.comment .comment__meta {
  position: relative;
  margin: 0;
  padding: .5em 0;
  border-bottom: dashed 1px #999;
}

.comment .comment__meta .comment__submitted {
  margin: 0;
}

.comment .comment__meta .permalink {
  position: absolute;
  display: block;
  top: .5em;
  right: .0em;
  text-decoration: none;
  color: #000;
}

.comment .comment__meta .field--name-user-picture {
  float: left;
  margin: 0 1em 0 0;
}

.comment .comment__meta .field--name-user-picture img {
  margin: 0;
  border-right: solid 1em #fff;
}

.comment .content .links {
  display: block;
  float: right;
}

.contextual-region.focus {
  outline: 2px dashed #fff;
  outline-offset: 2px;
}

.region-content .contextual-region.focus {
  outline: 2px dashed #999;
}

.no-touchevents .contextual-region .contextual .contextual-links li a:hover {
  background-color: transparent;
  color: #e25401;
}

.demo-block {
  padding: .5em;
  margin: 1em 0;
  border: solid 1px #999;
}

.dropbutton-widget {
  margin-right: 0;
}

.dropbutton-widget a, .dropbutton-widget a:hover {
  text-decoration: none;
}

td .dropbutton-widget {
  padding: .25em .75em;
}

.dropbutton-widget .button, .dropbutton-widget .dropbutton-widget {
  border: none;
  background: transparent;
}

.dropbutton-widget .button:focus, .dropbutton-widget .dropbutton-widget:focus, .dropbutton-widget .button:active, .dropbutton-widget .dropbutton-widget:active {
  position: static;
  outline: none;
}

.dropbutton-widget .dropbutton .dropbutton-action > * {
  padding: 0;
}

.js .dropbutton-widget {
  border: 1px solid #999;
}

.dropbutton-widget .dropbutton-action {
  padding-right: .5em;
}

.dropbutton-wrapper {
  margin-left: 0;
  margin-right: .75em;
}

.dropbutton-wrapper.open .dropbutton-action {
  padding-top: .25em;
  padding-bottom: .25em;
}

.field {
  margin: .75em 0;
}

.field--type-image img,
.field--name-user-picture img {
  margin: 0 0 1em;
}

.field--name-field-tags .field__item {
  display: inline;
}

.field--name-field-tags .field__item:not(:last-child):after {
  content: ', ';
}

input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
input:not([type]),
textarea,
select {
  background-color: #fff;
  border: 1px solid #999;
  box-sizing: border-box;
  font-size: 1em;
  padding: 0.25em;
  transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  width: 100%;
  margin: 3px 0 3px 0;
  outline: none;
}

input[type="color"]:focus,
input[type="date"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="email"]:focus,
input[type="month"]:focus,
input[type="number"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="text"]:focus,
input[type="time"]:focus,
input[type="url"]:focus,
input[type="week"]:focus,
input:not([type]):focus,
textarea:focus,
select:focus {
  box-shadow: 0 0 5px #39F;
  border-color: #39F;
}

@media (min-width: 860px) {
  input[type="color"],
  input[type="date"],
  input[type="datetime"],
  input[type="datetime-local"],
  input[type="email"],
  input[type="month"],
  input[type="number"],
  input[type="password"],
  input[type="search"],
  input[type="tel"],
  input[type="text"],
  input[type="time"],
  input[type="url"],
  input[type="week"],
  input:not([type]),
  textarea,
  select {
    max-width: 350px;
  }
}

textarea {
  max-width: 100%;
}

details {
  border-radius: 6px;
  border-color: #999;
}

details summary {
  background-color: #d7d7d7;
  text-shadow: 0 1px 0 #fff;
  padding: .25em .5em .4em .5em;
  border-radius: 6px 6px 0 0;
}

details summary:focus {
  outline: none;
}

details[open] summary {
  border-bottom: solid 1px #999;
}

details .details-wrapper {
  padding: .75em 1em;
}

label {
  display: block;
  font-weight: bold;
}

label[for] {
  cursor: pointer;
}

.form-type-radio label,
.form-type-checkbox label {
  margin-left: .25em;
}

.description {
  font-size: 0.8888888889em;
  padding-left: 1px;
}

.form-type-radio .description,
.form-type-checkbox .description {
  margin-left: .25em;
}

.form-disabled input,
.form-disabled select,
.form-disabled textarea,
.form-disabled label {
  opacity: .5;
}

.region-primary-menu {
  background-color: #4b4b4b;
  text-shadow: 0 1px 1px #000;
  /* 2nd, 3rd, 4th level */
}

.region-primary-menu .menu-item--expanded {
  background-color: transparent;
}

.region-primary-menu a {
  text-decoration: none;
}

.region-primary-menu .block-content #hamburger {
  display: none;
}

.region-primary-menu .block-content > ul.menu {
  margin: 0;
}

.region-primary-menu .block-content > ul.menu > li {
  display: inline-block;
  padding: 0;
  margin: 0;
}

.region-primary-menu .block-content > ul.menu > li > a {
  color: #f0f0f0;
  display: block;
  padding: 0.75em 1.25em;
}

.region-primary-menu .block-content > ul.menu > li > a:hover {
  background-color: #777;
  color: #fff;
}

@media (min-width: 860px) {
  .region-primary-menu .block-content > ul.menu > li.menu-item--active-trail {
    position: relative;
  }
  .region-primary-menu .block-content > ul.menu > li.menu-item--active-trail > a {
    background-color: #047bc6;
    color: #fff;
    font-weight: bold;
  }
  .region-primary-menu .block-content > ul.menu > li.menu-item--active-trail > a:hover {
    background-color: #058bdf;
  }
}

.region-primary-menu .block-content > ul.menu > li.menu-item--expanded {
  position: relative;
}

.region-primary-menu .block-content > ul.menu > li.menu-item--expanded > a {
  background-image: url(../images/arrow-down-white.png);
  background-repeat: no-repeat;
  background-position: right 1.25em top 1em;
  padding-right: 2em;
}

.region-primary-menu li.menu-item--expanded:hover > ul.menu {
  display: block;
}

.region-primary-menu li.menu-item--expanded ul {
  display: none;
  margin-left: 0;
  position: absolute;
  width: 12em;
  top: 100%;
  left: 0;
  background-color: #4b4b4b;
  border: solid 1px #999;
  border-top: none;
  z-index: 100;
}

.region-primary-menu li.menu-item--expanded li {
  list-style: none;
  margin: 0;
  padding: 0;
  border-top: solid 1px #999;
}

.region-primary-menu li.menu-item--expanded li.menu-item--expanded {
  position: relative;
}

.region-primary-menu li.menu-item--expanded li.menu-item--expanded ul {
  margin-left: 12em;
  top: -1px;
  left: 0;
}

.region-primary-menu li.menu-item--expanded li.menu-item--expanded > a {
  background-image: url("../images/arrow-right-white.png");
  background-repeat: no-repeat;
  background-position: right .5em top 50%;
}

.region-primary-menu li.menu-item--expanded a {
  padding: 0.75em 1.25em;
  color: #fff;
  display: block;
  opacity: 0.9;
}

.region-primary-menu li.menu-item--expanded li a:hover {
  background-color: #777;
}

@media (max-width: 860px) {
  .region-primary-menu .block-content #hamburger {
    font-size: 1.423828125em;
    color: #fff;
    padding: .25em;
    display: block;
    float: right;
    cursor: pointer;
  }
  .region-primary-menu .block-content > ul.menu {
    display: none;
    padding-top: 2.5em;
  }
  .js-menu-expanded .region-primary-menu .block-content > ul.menu {
    display: block;
  }
  .region-primary-menu .block-content > ul.menu > li {
    display: block;
    margin: 0;
    border-top: solid 1px #999;
  }
  .region-primary-menu .block-content > ul.menu > li > a {
    padding-left: 0;
    border-width: 5px;
  }
  .region-primary-menu .block-content > ul.menu > li > a:hover {
    background-color: transparent;
  }
  .region-primary-menu .block-content > ul.menu > li.menu-item--expanded > a {
    background-image: none;
  }
  .region-primary-menu li.menu-item--expanded:hover > ul.menu {
    display: none;
  }
}

.messages {
  box-shadow: none;
  border-width: 1px;
  position: relative;
  margin-bottom: 1em;
}

.messages .hide-message {
  display: block;
  position: absolute;
  top: 0;
  right: .25em;
  cursor: pointer;
  font-size: 1.423828125em;
  line-height: 1;
  padding: 0;
  opacity: .5;
}

.messages .hide-message:hover {
  opacity: 1;
}

.messages + .messages {
  margin-top: .5em;
}

.messages--status {
  border-color: #9b9;
}

.messages--warning {
  border-color: #bb9;
}

.messages--error {
  border-color: #b99;
}

.node {
  margin-top: 1em;
}

@media (min-width: 860px) {
  .node .field--type-image {
    float: left;
    margin: .25em 1em 0 0;
  }
}

.node__content {
  margin-top: 1em;
}

.node--view-mode-teaser {
  border-bottom: 1px solid #999;
  padding-bottom: 1em;
}

.node--view-mode-teaser h2 {
  margin-top: 0;
  padding-top: 0.5em;
}

.node--view-mode-teaser h2 a {
  color: #333;
  border-color: #333;
}

.node--view-mode-teaser.node--sticky {
  background: #f5f5f5;
  border: 1px solid #ccc;
  padding: 0 1em 1em;
}

.node--view-mode-teaser .node__content {
  clear: none;
  font-size: 1em;
  line-height: 1.6;
}

.node__meta {
  color: #777;
}

.node__meta .field--name-user-picture img {
  float: left;
  margin: 0 .25em .25em 0;
}

.node__links {
  text-align: right;
}

.node--unpublished {
  padding: 0 1em;
  border: 1px solid #ccc;
}

.node-preview-container {
  bottom: 0;
  background: #f5f5f5;
  border-top: outset 1px #999;
}

.page-title {
  margin-top: .25em;
  margin-bottom: .5em;
}

.pager__item {
  padding: .25em;
}

.pager__item a {
  display: inline-block;
  padding: .35em .65em;
  text-decoration: none;
  border-radius: 3px;
  border: solid 1px #999;
  color: #333;
}

.pager__item a:hover {
  background-color: #fff;
}

.pager__item.is-active a {
  background: #4b4b4b;
  border-color: #4b4b4b;
  color: #fff;
  pointer-events: none;
  cursor: default;
}

.block-system-powered-by-block img {
  border: solid 1px #999;
}

.path-batch .page-content {
  margin: 3em 0;
}

.path-batch .progress {
  margin: 1em 0 2em 0;
}

.path-batch .progress__bar {
  border: 1px #4b4b4b solid;
  background: #999;
  background-image: -webkit-linear-gradient(top, transparent, rgba(0, 0, 0, 0.15)), -webkit-linear-gradient(left top, #999 0%, #999 25%, #777 25%, #777 50%, #999 50%, #999 75%, #999 100%);
  background-image: -webkit-linear-gradient(top, transparent, rgba(0, 0, 0, 0.15)), -webkit-linear-gradient(left top, #999 0%, #999 25%, #777 25%, #777 50%, #999 50%, #999 75%, #999 100%);
  background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.15)), linear-gradient(to right bottom, #999 0%, #999 25%, #777 25%, #777 50%, #999 50%, #999 75%, #999 100%);
  background-size: 40px 40px;
  margin-top: -1px;
  margin-left: -1px;
  /* LTR */
  padding: 0 1px;
  height: 16px;
  border-radius: 10em;
  -webkit-animation: animate-stripes 3s linear infinite;
  -moz-animation: animate-stripes 3s linear infinite;
  -webkit-transition: width 0.5s ease-out;
  transition: width 0.5s ease-out;
}

.search-block-form form {
  display: table;
  margin: 1em 0;
}

.search-block-form .form-type-search {
  display: table-cell;
}

.search-block-form .form-actions {
  display: table-cell;
  padding-left: .5em;
  width: 25%;
}

.search-page-form label {
  display: block;
}

.sidebar .block {
  margin-bottom: 1em;
}

.sidebar .block h2 {
  font-size: 1em;
  text-transform: uppercase;
  padding: .25em .5em;
  color: #fff;
  border: solid 1px #999;
  border-radius: .5em .5em 0 0;
  margin: 0;
  background: #717171;
  background: -moz-linear-gradient(top, #717171 0%, #4b4b4b 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #717171), color-stop(100%, #4b4b4b));
  background: -webkit-linear-gradient(top, #717171 0%, #4b4b4b 100%);
  background: -o-linear-gradient(top, #717171 0%, #4b4b4b 100%);
  background: -ms-linear-gradient(top, #717171 0%, #4b4b4b 100%);
  background: linear-gradient(to bottom, #717171 0%, #4b4b4b 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#000000', GradientType=0);
}

.sidebar .block .block-content {
  border: solid 1px #999;
  border-radius: .5em;
  padding: .5em 1em;
  background-color: #f0f0f0;
}

.sidebar .block--with-label .block-content {
  border-top: none;
  border-radius: 0 0 .5em .5em;
}

.region-content {
  background-color: #f0f0f0;
  border: 1px solid #999;
  border-radius: .5em;
  padding: .5em 1.5em;
  margin-bottom: 1em;
}

.region-content-top .block,
.region-content-bottom .block {
  margin-bottom: 1em;
}

.region-content-top .block h2,
.region-content-bottom .block h2 {
  font-size: 1em;
  text-transform: uppercase;
  padding: .25em .5em;
  color: #fff;
  border: solid 1px #999;
  border-radius: .5em .5em 0 0;
  margin: 0;
  background: #717171;
  background: -moz-linear-gradient(top, #717171 0%, #4b4b4b 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #717171), color-stop(100%, #4b4b4b));
  background: -webkit-linear-gradient(top, #717171 0%, #4b4b4b 100%);
  background: -o-linear-gradient(top, #717171 0%, #4b4b4b 100%);
  background: -ms-linear-gradient(top, #717171 0%, #4b4b4b 100%);
  background: linear-gradient(to bottom, #717171 0%, #4b4b4b 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#000000', GradientType=0);
}

.region-content-top .block .block-content,
.region-content-bottom .block .block-content {
  border: solid 1px #999;
  border-radius: .5em;
  padding: .5em 1em;
  background-color: #f0f0f0;
}

.region-content-top .block--with-label .block-content,
.region-content-bottom .block--with-label .block-content {
  border-top: none;
  border-radius: 0 0 .5em .5em;
}

@media (max-width: 860px) {
  .site-footer .block {
    margin-bottom: 1em;
  }
  .site-footer .block h2 {
    font-size: 1em;
    text-transform: uppercase;
    padding: .25em .5em;
    color: #fff;
    border: solid 1px #999;
    border-radius: .5em .5em 0 0;
    margin: 0;
    background: #717171;
    background: -moz-linear-gradient(top, #717171 0%, #4b4b4b 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #717171), color-stop(100%, #4b4b4b));
    background: -webkit-linear-gradient(top, #717171 0%, #4b4b4b 100%);
    background: -o-linear-gradient(top, #717171 0%, #4b4b4b 100%);
    background: -ms-linear-gradient(top, #717171 0%, #4b4b4b 100%);
    background: linear-gradient(to bottom, #717171 0%, #4b4b4b 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#000000', GradientType=0);
  }
  .site-footer .block .block-content {
    border: solid 1px #999;
    border-radius: .5em;
    padding: .5em 1em;
    background-color: #f0f0f0;
  }
  .site-footer .block--with-label .block-content {
    border-top: none;
    border-radius: 0 0 .5em .5em;
  }
  .site-footer .block--without-label .block-content {
    background-color: transparent;
    border: none;
    padding: 0;
  }
}

@media (min-width: 860px) {
  .site-footer {
    margin-top: 2em;
  }
  .site-footer:before {
    display: block;
    content: ' ';
    border-top: solid 1px #777;
    border-bottom: solid 1px #f0f0f0;
    margin-bottom: 1.5em;
  }
  .site-footer .block {
    margin-bottom: 2em;
  }
  .site-footer .block h2 {
    margin-top: 0;
    padding-bottom: .25em;
    border-bottom: dashed 1px #4b4b4b;
    font-size: 1.265625em;
    text-transform: uppercase;
    text-shadow: 1px 1px 1px #fff;
  }
  .three-footers .site-footer .region {
    width: 32.2033898305%;
    float: left;
    margin-right: 1.6949152542%;
  }
  .two-footers .site-footer .region {
    width: 49.1525423729%;
    float: left;
    margin-right: 1.6949152542%;
  }
  .site-footer .region:last-child {
    margin-right: 0;
  }
}

.block-system-branding-block {
  margin-top: 1em;
  min-height: 100px;
}

.block-system-branding-block .site-logo {
  float: left;
  margin-right: 1em;
}

.block-system-branding-block .site-branding-text {
  float: left;
  margin-top: 1.5em;
}

.block-system-branding-block .slogan-wrapper {
  margin-top: .75em;
}

.block-system-branding-block .site-name {
  font-size: 2em;
  margin-bottom: .15em;
}

.block-system-branding-block .site-name a {
  text-shadow: 0 1px 1px #fff;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}

.block-system-branding-block .site-slogan {
  text-shadow: 0 1px 1px #fff;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 0.8888888889em;
  margin-top: 1em;
}

table {
  border: 0;
  border-spacing: 0;
  margin: .25em 0;
  width: 100%;
  outline: solid 1px #ccc;
}

tr {
  border-bottom: 1px solid #ccc;
  background: #f0f0f0;
}

thead > tr {
  border-bottom: 1px solid #000;
}

tr.odd {
  background-color: #f5f5f5;
}

thead th {
  background: #717171;
  background: -moz-linear-gradient(top, #717171 0%, #4b4b4b 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #717171), color-stop(100%, #4b4b4b));
  background: -webkit-linear-gradient(top, #717171 0%, #4b4b4b 100%);
  background: -o-linear-gradient(top, #717171 0%, #4b4b4b 100%);
  background: -ms-linear-gradient(top, #717171 0%, #4b4b4b 100%);
  background: linear-gradient(to bottom, #717171 0%, #4b4b4b 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#000000', GradientType=0);
  border-bottom-style: none;
}

thead th,
thead th a,
thead th a:hover,
thead th a:focus {
  color: #fff;
  font-weight: bold;
}

td,
th {
  padding: .25em .75em;
  border: 1px solid #fff;
  text-align: left;
}

.tablesort {
  float: right;
  width: 1em;
  height: 1em;
}

.tablesort--asc {
  background-image: url(../images/twistie-down.svg);
}

.tablesort--desc {
  background-image: url(../images/twistie-up.svg);
}

@media (max-width: 520px) {
  th.priority-medium,
  td.priority-medium {
    display: none;
  }
}

@media (max-width: 860px) {
  th.priority-low,
  td.priority-low {
    display: none;
  }
}

.block-local-tasks-block {
  margin-bottom: 1em;
}

ul.primary {
  border-bottom: solid 1px #777;
}

ul.primary li {
  display: block;
  margin: 0;
}

ul.primary li a {
  color: #333;
  border: solid 1px #777;
  padding: .35em .75em;
  display: block;
  text-shadow: 0 1px 0 #fff;
  background-color: #d7d7d7;
}

ul.primary li.is-active a {
  background-color: transparent;
  border-bottom-color: #f0f0f0;
  cursor: default;
  pointer-events: none;
}

@media (min-width: 520px) {
  ul.primary {
    padding: 0 .5em;
    margin: 0;
  }
  ul.primary li {
    float: left;
    margin-right: .5em;
  }
  ul.primary li a {
    border-radius: 8px 8px 0 0;
    margin-bottom: -1px;
  }
  ul.primary li a:hover {
    background-color: #e3e3e3;
  }
  ul.primary li.is-active a {
    border: 1px solid #777;
    border-bottom-color: #f0f0f0;
  }
}

ul.secondary {
  margin-top: 1em;
}

ul.secondary li a {
  border: solid 1px #999;
  border-radius: .25em;
  background-color: #f0f0f0;
}

ul.secondary li.is-active a {
  background-color: #fff;
}

.vertical-tabs {
  background-color: #fff;
}

.vertical-tabs .vertical-tabs__menu-item a:hover .vertical-tabs__menu-item-title {
  text-decoration: none;
  color: #e25401;
}

.vertical-tabs .vertical-tabs__menu-item.is-selected {
  border-right: none;
}

.vertical-tabs .vertical-tabs__menu-item.is-selected .vertical-tabs__menu-item-title {
  color: #035c94;
  text-decoration: none;
}

.vertical-tabs .vertical-tabs__menu-item a {
  outline: none;
}

@media print {
  body {
    background: white;
    color: black;
    margin: 0;
  }
  .breadcrumb,
  .sidebar,
  .site-footer,
  .block-local-tasks-block,
  .site-logo,
  .region-primary-menu,
  .contextual,
  form {
    display: none;
  }
  .page-title {
    text-align: left;
  }
  .block-system-branding-block {
    min-height: 30px;
  }
  .region-content {
    border-width: 0;
    background: white;
  }
  article.node {
    page-break-after: always;
  }
  .comment-wrapper {
    page-break-before: always;
  }
}

/*# sourceMappingURL=styles.css.map */
