$debug: (
  image: show,
  color: rgba($gray-scale-darker, .25),
);

$susy: map-merge($susy, (debug: $debug));

body {
  background: none !important;

  &:after {
    display: block;
    position: fixed;
    bottom: 0;
    right: 0;
    content: " ";
    background-color: #f4ffaf;
    padding: .5em;
    border-top: double 3px #eed46a;
    border-left: double 3px #eed46a;
    border-radius: .75em 0 0 0;
    opacity: .95;
  }

  @mixin smr-breakpoint-label($breakpoint, $label) {
    @include susy-breakpoint($breakpoint) {
      &:after {
        content: "#{$label}";
      }
    }
  }

  @include smr-breakpoint-label($mobile-up, 'Mobile up');
  @include smr-breakpoint-label($big-mobile-up, 'Big mobile up');
  @include smr-breakpoint-label($small-tablet-up, 'Small tablet up');
  @include smr-breakpoint-label($tablet-up, 'Tablet up');
  @include smr-breakpoint-label($big-tablet-up, 'Big tablet up');
  @include smr-breakpoint-label($desktop-up, 'Desktop up');
}


