@mixin linear-gradient($top, $bottom){
  background: $top;
  background: -moz-linear-gradient(top, $top 0%, $bottom 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, $top), color-stop(100%, $bottom));
  background: -webkit-linear-gradient(top, $top 0%, $bottom 100%);
  background: -o-linear-gradient(top, $top 0%, $bottom 100%);
  background: -ms-linear-gradient(top, $top 0%, $bottom 100%);
  background: linear-gradient(to bottom, $top 0%, $bottom 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#000000', GradientType=0);
}

%clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin smr-block {
  .block {
    margin-bottom: 1em;
    h2 {
      font-size: 1em;
      text-transform: uppercase;
      padding: .25em .5em;
      color: $gray-scale-white;
      border: solid 1px $gray-scale-normal;
      border-radius: .5em .5em 0 0;
      margin: 0;
      @include linear-gradient(lighten($header-background, 15%), $header-background)
    }
    .block-content {
      border: solid 1px $gray-scale-normal;;
      border-radius: .5em;
      padding: .5em 1em;
      background-color: $gray-scale-lighter;
    }
  }
  .block--with-label {
    .block-content {
      border-top: none;
      border-radius: 0 0 .5em .5em;
    }
  }
}

%smr-no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

%smr-link {
  color: $link-color;
  &:hover {
    color: $link-hover-color;
  }
}
