// Debug mode.
$debug: false;

// Colors.
$gray-scale-white: #fff;
$gray-scale-lightest: #f5f5f5;
$gray-scale-lighter: #f0f0f0;
$gray-scale-light: #ccc;
$gray-scale-normal: #999;
$gray-scale-dark: #777;
$gray-scale-darker: #4b4b4b;
$gray-scale-darkest: #333;
$gray-scale-black: #000;

$text-color: $gray-scale-darkest;
$link-color: #035c94;
$link-hover-color: #e25401;
$header-background: $gray-scale-darker;

// Breakpoints.
$mobile-up: min-width 520px;
$mobile-down: max-width 520px;
$big-mobile-down: max-width 600px;
$big-mobile-up: min-width 600px;
$small-tablet-up: min-width 740px;
$small-tablet-down: max-width 740px;
$tablet-down: max-width 860px;
$tablet-up: min-width 860px;
$big-tablet-down: max-width 940px;
$big-tablet-up: min-width 940px;
$desktop-down: max-width 1024px;
$desktop-up: min-width 1024px;

// Susy
$susy: (
  columns: 12,
);

$ms-ratio: $major-second;
