@media print {

  body {
    background: white;
    color: black;
    margin:0
  }

  .breadcrumb,
  .sidebar,
  .site-footer,
  .block-local-tasks-block,
  .site-logo,
  .region-primary-menu,
  .contextual,
  form{
    display: none;
  }
  .page-title {
    text-align: left;
  }
  .block-system-branding-block {
    min-height: 30px;
  }

  .region-content {
    border-width: 0;
    background: white;
  }

  article.node {
    page-break-after: always;
  }

  .comment-wrapper {
    page-break-before: always;
  }

}
