.region-primary-menu nav, .container {

  padding: 0 1em;

  $cw: 800;
  @while $cw <= 1600 {
    body.smr-cw-#{$cw} & {
      @include container($cw  * 1px);
    }
    $cw: $cw + 80;
  }

}

.sidebar {
  margin-top: 1em;
}

main {
  @extend %clearfix;
}

@include susy-breakpoint($tablet-up) {

  // Layout: 4|8|0.
  .layout-sidebar-first {
    .page-content {
      @include span(8 last);
    }
    .sidebar-first {
      @include span(4);
      margin-top: 0;
    }
  }

  // Layout: 0|8|4.
  .layout-sidebar-second {
    .page-content {
      @include span(8);
    }
    .sidebar-second {
      margin-top: 0;
      @include span(4 last);
    }
  }

  // Layout: 0|12|0 / 6|0|6.
  .layout-two-sidebars {
    .page-content {
      @include span(12);
    }
    .sidebar-first {
      @include span(6);
    }
    .sidebar-second {
      @include span(6 last);
    }
  }

}

@include susy-breakpoint($desktop-up) {

  .sidebar {
    margin-top: 0;
  }

  // Layout: 3|9|0.
  .layout-sidebar-first {
    .page-content {
      @include span(9 last);
    }
    .sidebar-first {
      @include span(3);
    }
  }

  // Layout: 0|9|3.
  .layout-sidebar-second {
    .page-content {
      @include span(9);
    }
    .sidebar-second {
      @include span(3 last);
    }
  }

  // Layout: 3|6|3.
  .layout-two-sidebars {

    .page-content {
      @include span(isolate 6 at 4);
    }

    .sidebar-first {
      @include span(3);
    }
    .sidebar-second {
      @include span(3 last);
    }

  }

}

