html {
  height: 100%;
}
body.maintenance-page {
  display: table;
  height: 100%;
  width: 100%;
  background-image: none;

  main {
    margin: auto;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
  }

}
