.js input.form-autocomplete {
  background-position: right 3px center;
}
.js input.form-autocomplete.ui-autocomplete-loading {
  background-image: url(../images/ajax-loader.gif);
  background-position: right 3px center;
}

.ajax-progress-throbber .throbber {
  background: transparent  url(../images/ajax-loader.gif) no-repeat 0 center;
}
