.button {
  @include linear-gradient($gray-scale-white, $gray-scale-lighter);
  border-radius: 6px;
  border: 1px solid $gray-scale-normal;
  display: inline-block;
  cursor: pointer;
  padding: .35em 1em;
  text-decoration: none;
  text-shadow: 0 1px 0 $gray-scale-white;
  color: $text-color;
  &:hover {
    @include linear-gradient($gray-scale-white, $gray-scale-lightest);
    color: $text-color;
    border: 1px solid $gray-scale-normal;
  }
  &:active {
    position: relative;
    top: 1px;
  }
  margin-left: .5em;
  margin-right: .5em;
}
