.comment {

  @extend %clearfix;
  border: solid 1px  $gray-scale-light;
  border-radius: .5em;
  margin-bottom: 1em;
  padding: .5em 1em;
  background-color: $gray-scale-white;

  .comment__meta {
    position: relative;
    margin: 0;
    padding: .5em 0;
    border-bottom: dashed 1px $gray-scale-normal;
    .comment__submitted {
      margin: 0;
    }
    .permalink {
      position: absolute;
      display: block;
      top: .5em;
      right: .0em;
      text-decoration: none;
      color:  $gray-scale-black;
    }
    .field--name-user-picture {
      float: left;
      margin: 0 1em 0 0;
      img {
        margin: 0;
        border-right: solid 1em  $gray-scale-white;
      }
    }
  }

  .content .links {
    display: block;
    float: right;
  }

}
