.contextual-region.focus {
  $outline-width: 2px;
  outline: $outline-width dashed $gray-scale-white;
  outline-offset: $outline-width;
  .region-content & {
    outline: $outline-width dashed $gray-scale-normal;
  }
}

.no-touchevents .contextual-region .contextual .contextual-links li a:hover {
  background-color: transparent;
  color: $link-hover-color;
}

.contextual-region .contextual .contextual-links a {
  @extend %smr-link;
}
