.dropbutton-widget {

  @extend .button;

  a, a:hover {
    text-decoration: none;
  }

  // Make it smaller in operations column.
  td & {
    padding: .25em .75em;
  }

  // Reset 'normal' button styles.
  .button {
    border: none;
    background: transparent;
    &:focus,
    &:active {
      position: static;
      outline: none;
    }
  }

  .dropbutton .dropbutton-action > * {
    padding: 0;
  }

  .js & {
    border: 1px solid $gray-scale-normal;
  }

  margin-right: 0;
  .dropbutton-action {
    padding-right: .5em;
  }

}

.dropbutton-wrapper {
  margin-left: 0;
  margin-right: .75em;

  &.open .dropbutton-action {
    padding-top: .25em;
    padding-bottom: .25em;
  }
}
