.field {
  margin: .75em 0;
}
.field--label-inline {
  @extend %clearfix;
}
.field--type-image img,
.field--name-user-picture img {
  margin: 0 0 1em;
}
.field--name-field-tags {
  .field__item {
    display: inline;
    &:not(:last-child):after {
      content: ', ';
    }
  }
}
