input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
input:not([type]),
textarea,
select {
  background-color: $gray-scale-white;
  border: 1px solid $gray-scale-normal;
  box-sizing: border-box;
  font-size: 1em;
  padding: 0.25em;
  transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;

  width: 100%;
  margin: 3px 0 3px 0;
  outline: none;

  &:focus {
    box-shadow: 0 0 5px #39F;
    border-color: #39F;
  }
  @include susy-breakpoint($tablet-up) {
    max-width: 350px;
  }
}

textarea {
  max-width: 100%;
}

details {
  border-radius: 6px;
  border-color: $gray-scale-normal;
  summary {
    background-color: darken($gray-scale-lighter, 10%);
    text-shadow: 0 1px 0 $gray-scale-white;
    padding: .25em .5em .4em .5em;
    border-radius: 6px 6px 0 0;
    &:focus {
      outline: none;
    }
  }
  &[open] summary {
    border-bottom: solid 1px $gray-scale-normal;
  }
  .details-wrapper {
    padding: .75em 1em;
  }
}

label {
  display: block;
  font-weight: bold;
  &[for] {
    cursor: pointer;
  }
  .form-type-radio &,
  .form-type-checkbox & {
    margin-left: .25em;
  }
}

.description {
  font-size: ms(-1);
  padding-left: 1px;
  .form-type-radio &,
  .form-type-checkbox & {
    margin-left: .25em;
  }
}

.form-disabled {
  input,
  select,
  textarea,
  label {
    opacity: .5;
  }
}
