.region-primary-menu {

  background-color: $header-background;
  text-shadow: 0 1px 1px $gray-scale-black;

  // Override admin toolbar style..
  .menu-item--expanded {
    background-color: transparent;
  }

  a {
    text-decoration: none;
  }

  // Top level.
  $root: '.block-content';
  $root-ul: $root +' > ul.menu';
  $root-li: $root-ul +' > li';
  $root-a: $root-li + ' > a';
  $root-active-trail: $root-li + '.menu-item--active-trail';
  $root-expanded: $root-li + '.menu-item--expanded';

  $link-padding: .75em 1.25em;

  #{$root} #hamburger {
    display: none;
  }

  #{$root-ul} {
    margin: 0;
  }

  #{$root-li} {
    display: inline-block;
    padding: 0;
    margin: 0;
  }

  #{$root-a} {
    color: $gray-scale-lighter;
    display: block;
    padding: $link-padding;
    &:hover {
      background-color: $gray-scale-dark;
      color: $gray-scale-white;
    }
  }

  @include susy-breakpoint($tablet-up) {
    #{$root-active-trail} {
      position: relative;
      & > a {
        background-color: lighten($link-color, 10%);
        color: $gray-scale-white;
        font-weight: bold;
        &:hover {
          background-color: lighten($link-color, 15%);
        }
      }
    }
  }

  #{$root-expanded} {
    position: relative;
    & > a {
      background-image: url(../images/arrow-down-white.png);
      background-repeat: no-repeat;
      background-position: right 1.25em top 1em;
      padding-right: 2em;
    }
  }

  /* 2nd, 3rd, 4th level */
  $expanded: 'li.menu-item--expanded';
  $expanded-ul: $expanded + ' ul';
  $expanded-li: $expanded + ' li';
  $expanded-a: $expanded + ' a';

  $border-color: $gray-scale-normal;
  $sub-item-width: 12em;

  #{$expanded}:hover > ul.menu {
    display: block;
  }

  #{$expanded-ul} {
    display: none;
    margin-left: 0;
    position: absolute;
    width: $sub-item-width;
    top: 100%;
    left: 0;
    background-color: $gray-scale-darker;
    border: solid 1px $border-color;
    border-top: none;
    z-index: 100;
  }

  #{$expanded-li} {
    list-style: none;
    margin: 0;
    padding: 0;
    border-top: solid 1px $border-color;
    &.menu-item--expanded {
      position: relative;
      ul {
        margin-left: $sub-item-width;
        top: -1px;
        left: 0;
      }
      & > a {
        background-image: url("../images/arrow-right-white.png");
        background-repeat: no-repeat;
        background-position: right .5em top 50%;
      }
    }
  }

  #{$expanded-a} {
    padding: $link-padding;
    color: $gray-scale-white;
    display: block;
    opacity: 0.9;

  }

  #{$expanded-li} a:hover {
    background-color: $gray-scale-dark;
  }

  // Mobile menu
  @include susy-breakpoint($tablet-down) {

    @extend %smr-no-select;

    #{$root} #hamburger {
      font-size: ms(3);
      color: $gray-scale-white;
      padding: .25em;
      display: block;
      float: right;
      cursor: pointer;
    }

    #{$root-ul} {
      display: none;
      padding-top: 2.5em;
      .js-menu-expanded & {
        display: block;
      }
    }

    #{$root-li} {
      display: block;
      margin: 0;
      border-top: solid 1px $gray-scale-normal;
    }

    #{$root-a} {
      padding-left: 0;
      border-width: 5px;
      &:hover {
        background-color: transparent;
      }
    }

    #{$root-expanded} > a {
      background-image: none;
    }

    #{$expanded}:hover > ul.menu {
      display: none;
    }

  }

}



