.messages {
  box-shadow: none;
  border-width: 1px;
  position: relative;
  margin-bottom: 1em;
  .hide-message {
    display: block;
    position: absolute;
    top: 0;
    right: .25em;
    cursor: pointer;
    font-size: ms(3);
    line-height: 1;
    padding: 0;
    opacity: .5;
    &:hover {
      opacity: 1;
    }
  }

}
.messages + .messages {
  margin-top: .5em;
}
.messages--status {
  border-color: #9b9;
}
.messages--warning {
  border-color: #bb9;
}
.messages--error {
  border-color: #b99;
}
