.node {
  margin-top: 1em;

  @include susy-breakpoint($tablet-up) {
    .field--type-image {
      float: left;
      margin: .25em 1em 0 0;
    }
  }

}

.node__content {
  margin-top: 1em;
}

// View mode teaser styles.
.node--view-mode-teaser {
  border-bottom: 1px solid $gray-scale-normal;
  padding-bottom: 1em;
  h2 {
    margin-top: 0;
    padding-top: 0.5em;
    a {
      color: $text-color;
      border-color: $text-color;
    }
  }

  &.node--sticky {
    background: $gray-scale-lightest;
    border: 1px solid $gray-scale-light;
    padding: 0 1em 1em;
  }

  .node__content {
    clear: none;
    font-size: 1em;
    line-height: 1.6;
  }
}


// Node metadata styles.
.node__meta {
  @extend %clearfix;
  color: $gray-scale-dark;
}
.node__meta .field--name-user-picture img {
  float: left;
  margin: 0 .25em .25em 0;
}

.node__links {
  text-align: right;
}

// Unpublished node styles.
.node--unpublished {
  padding: 0 1em;
  border: 1px solid $gray-scale-light;
}

.node-preview-container {
  bottom: 0;
  background: $gray-scale-lightest;
  border-top: outset 1px $gray-scale-normal;
}
