.pager__item {
  padding: .25em;
  a {
    display: inline-block;
    padding: .35em .65em;
    text-decoration: none;
    border-radius: 3px;
    border: solid 1px $gray-scale-normal;
    color: $text-color;
    &:hover {
      background-color: $gray-scale-white;
    }
  }
  &.is-active a {
    background: $header-background;
    border-color: $header-background;
    color: $gray-scale-white;
    pointer-events: none;
    cursor: default;
  }
}
