.path-batch {
  .page-content {
    margin: 3em 0;
  }

  .progress {
    margin: 1em 0 2em 0;
  }

  .progress__bar {

    $progress-color-1: $gray-scale-normal;
    $progress-color-2: $gray-scale-dark;

    border: 1px $gray-scale-darker solid;
    background: $gray-scale-normal;
    background-image:
      -webkit-linear-gradient( top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15) ),
      -webkit-linear-gradient( left top,
        $progress-color-1 0%,
        $progress-color-1 25%,
        $progress-color-2 25%,
        $progress-color-2 50%,
        $progress-color-1 50%,
        $progress-color-1 75%,
        $progress-color-1 100% );
    background-image:
      -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15)), -webkit-linear-gradient(left top, $progress-color-1 0%, $progress-color-1 25%, $progress-color-2 25%, $progress-color-2 50%, $progress-color-1 50%, $progress-color-1 75%, $progress-color-1 100%);
    background-image:
      linear-gradient( to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15) ),
      linear-gradient( to right bottom,
        $progress-color-1 0%,
        $progress-color-1 25%,
        $progress-color-2 25%,
        $progress-color-2 50%,
        $progress-color-1 50%,
        $progress-color-1 75%,
        $progress-color-1 100% );
    background-size: 40px 40px;
    margin-top: -1px;
    margin-left: -1px; /* LTR */
    padding: 0 1px;
    height: 16px;
    border-radius: 10em;
    -webkit-animation: animate-stripes 3s linear infinite;
    -moz-animation: animate-stripes 3s linear infinite;
    -webkit-transition: width 0.5s ease-out;
    transition: width 0.5s ease-out;
  }

}
