.search-block-form {
  form {
    display: table;
    margin: 1em 0;
  }
  .form-type-search {
    display: table-cell;
  }
  .form-actions {
    display: table-cell;
    padding-left: .5em;
    width: 25%;
  }
}
