.region-content {
  background-color: $gray-scale-lighter;
  border: 1px solid $gray-scale-normal;
  border-radius: .5em;
  padding: .5em 1.5em;
  margin-bottom: 1em;
}

.region-content-top,
.region-content-bottom {
  @include smr-block;
}
