.site-footer {

  @include susy-breakpoint($tablet-down) {
    @include smr-block;
    .block--without-label .block-content {
      background-color: transparent;
      border: none;
      padding: 0;
    }
  }

  @include susy-breakpoint($tablet-up) {

    margin-top: 2em;

    // Top border.
    &:before {
      display: block;
      content: ' ';
      border-top: solid 1px $gray-scale-dark;
      border-bottom: solid 1px $gray-scale-lighter;
      margin-bottom: 1.5em;
    }

    .block {
      h2 {
        margin-top: 0;
        padding-bottom: .25em;
        border-bottom: dashed 1px $gray-scale-darker;
        font-size: ms(2);
        text-transform: uppercase;
        text-shadow: 1px 1px 1px $gray-scale-white;
      }
      margin-bottom: 2em;
    }

    .three-footers & .region {
      @include span(4);
    }

    .two-footers & .region {
      @include span(6);
    }

    .region:last-child {
      margin-right: 0;
    }
  }

}
