.block-system-branding-block {
  margin-top: 1em;
  min-height: 100px;
  .site-logo {
    float: left;
    margin-right: 1em;
  }
  .site-branding-text {
    float: left;
    margin-top: 1.5em;
  }
  .slogan-wrapper {
    margin-top: .75em;
  }
  .site-name {
    font-size: 2em;
    margin-bottom: .15em;
    a {
      text-shadow: 0 1px 1px $gray-scale-white;
      font-weight: bold;
      text-decoration: none;
      color: $text-color;
    }
  }
  .site-slogan {
    text-shadow: 0 1px 1px $gray-scale-white;
    font-weight: bold;
    text-transform: uppercase;
    font-size: ms(-1);
    margin-top: 1em;
  }
}
