$tabs-border-color: $gray-scale-dark;

.block-local-tasks-block {
  margin-bottom: 1em;
}

ul.primary {
  border-bottom:solid 1px $tabs-border-color;
  li {
    display: block;
    margin: 0;
    a {
      color: $text-color;
      border: solid 1px $tabs-border-color;
      padding: .35em .75em;
      display: block;
      text-shadow: 0 1px 0 $gray-scale-white;
      background-color: darken($gray-scale-lighter, 10%);
    }
    &.is-active a {
      background-color: transparent;
      border-bottom-color: $gray-scale-lighter;
      cursor: default;
      pointer-events: none;
    }
  }

  @include susy-breakpoint($mobile-up) {

    @extend %clearfix;
    padding: 0 .5em;
    margin: 0;

    li {
      float: left;
      margin-right: .5em;
      a {
        border-radius: 8px 8px 0 0;
        margin-bottom: -1px;
        &:hover {
          background-color: darken($gray-scale-lighter, 5%);
        }

      }
      &.is-active a {
        border: 1px solid $tabs-border-color;
        border-bottom-color: $gray-scale-lighter;
      }

    }
  }

}

ul.secondary {
  margin-top: 1em;
  li {
    a {
      border: solid 1px $gray-scale-normal;
      border-radius: .25em;
      background-color: $gray-scale-lighter;
    }
    &.is-active a {
      background-color: $gray-scale-white;
    }
  }

}
