table {
  border: 0;
  border-spacing: 0;
  margin: .25em 0;
  width: 100%;
  outline: solid 1px $gray-scale-light;
}

tr {
  border-bottom: 1px solid $gray-scale-light;
  background: $gray-scale-lighter;
}

thead > tr {
  border-bottom: 1px solid $gray-scale-black;
}
tr.odd {
  background-color: $gray-scale-lightest;
}

thead th {
  @include linear-gradient(lighten($header-background, 15%), $header-background);
  border-bottom-style: none;
  &,
  a,
  a:hover,
  a:focus {
    color: $gray-scale-white;
    font-weight: bold;
  }
}

td,
th {
  padding: .25em .75em;
  border: 1px solid $gray-scale-white;
  text-align: left;
}
.tablesort {
  float: right;
  width: 1em;
  height: 1em;
}
.tablesort--asc {
  background-image: url(../images/twistie-down.svg);
}
.tablesort--desc {
  background-image: url(../images/twistie-up.svg);
}

// Responsive tables.
@include susy-breakpoint($mobile-down) {
  th.priority-medium,
  td.priority-medium {
    display: none;
  }
}

@include susy-breakpoint($tablet-down) {
  th.priority-low,
  td.priority-low {
    display: none;
  }
}
