.vertical-tabs {
    background-color: $gray-scale-white;

  .vertical-tabs__menu-item {

    a:hover{
      .vertical-tabs__menu-item-title {
        text-decoration: none;
        color: $link-hover-color;
      }
    }

    &.is-selected {
      border-right: none;
      .vertical-tabs__menu-item-title {
        color: $link-color;
        text-decoration: none;
      }
    }
  }

  .vertical-tabs__menu-item a {
    outline: none;
  }
}
