body {
  color: $text-color;
  line-height: 1.25em;

  @for $fs from 12 through 18 {
    &.smr-fs-#{$fs} {
      font-size: #{$fs}px;
    }
  }

  // Font families.
  $standard-font-families: (
    'impact': 'Impact, Charcoal, sans-serif',
    'palatino-linotype': '"Palatino Linotype", "Book Antiqua", Palatino, serif',
    'tahoma': 'Tahoma, Geneva, sans-serif',
    'century-gothic': 'Century Gothic, sans-serif',
    'lucida-sans-unicode': 'Lucida Sans Unicode’, ‘Lucida Grande’, sans-serif',
    'arial-black': 'Arial Black’, Gadget, sans-serif',
    'times-new-roman': 'Times New Roman’, Times, serif',
    'arial-warrow': 'Arial Narrow’, sans-serif',
    'verdana': 'Verdana, Geneva, sans-serif',
    'copperplate-gothic_light': '"Copperplate / Copperplate", Gothic Light, sans-serif',
    'lucida-console': '"Lucida Console", Monaco, monospace',
    'gill-sans ': '"Gill Sans / Gill", Sans MT, sans-serif',
    'trebuchet-ms': '"Trebuchet MS", Helvetica, sans-serif',
    'courier-new': '"Courier New", Courier, monospace',
    'arial': 'Arial, Helvetica, sans-serif',
    'georgia': 'Georgia, "Times New Roman", serif',
  );

  $google-font-families: (
    'ubuntu': 'Ubuntu, sans-serif',
    'open-sans': '"Open Sans", sans-serif',
    'josefin-slab': 'Josefin Slab, serif',
    'pt-sans': '"PT Sans", sans-serif',
    'roboto': 'Roboto, sans-serif',
    'source-sans-pro': '"Source Sans Pro", sans-serif',
    'exo': 'Exo, sans-serif',
  );


  $font-families: map-merge($standard-font-families, $google-font-families);

  @each $class-suffix, $font-family in $font-families {
    &.smr-fm-#{$class-suffix} {
      font-family: unquote($font-family);
    }
  }
}

h1 {
  font-size: ms(8);
  margin: .5em 0;
  font-weight: normal;
  line-height: 1em;
}
h2 {
  font-size: ms(4);
  font-weight: normal;
  margin: .5em 0;
}
h3 {
  font-size: ms(1);
  margin: .5em 0;
}

@include susy-breakpoint($tablet-down) {
  h1 {
    font-size: ms(5);
  }
  h2 {
    font-size: ms(3);
  }
  h3 {
    font-size: ms(1);
  }
}

@include susy-breakpoint($mobile-down) {
  h1 {
    font-size: ms(3);
  }
  h2 {
    font-size: ms(2);
  }
  h3 {
    font-size: ms(1);
  }
}

a {
  @extend %smr-link;
}

dt,
dd {
  padding: .25em;
}
