{#
/**
 * @file
 * Theme override to display a block.
 */
#}
{% extends "@classy/block/block.html.twig" %}

{% block content %}
  <div class="block-content">
    {{ content }}
  </div>
{% endblock %}
