{#
/**
 * @file
 * Theme override for a menu block.
 */
#}
{% extends "@classy/block/block--system-menu-block.html.twig" %}

{% block content %}
  <div class="block-content">
    {{ content }}
  </div>
{% endblock %}
