{#
/**
 * @file
 * Theme override to display a single page.
 */
#}

{{ page.primary_menu }}
<div class="container">

  <header class="site-header" role="banner">
    {{ page.header }}
  </header>

  {{ page.secondary_menu }}

  {{ page.breadcrumb }}

  {{ page.highlighted }}

  {{ page.help }}

  <main role="main">
    <a id="main-content" tabindex="-1"></a>

    <div class="page-content">
      {{ page.content_top }}
      {{ page.content }}
      {{ page.content_bottom }}
    </div>

    {% if page.sidebar_first %}
      <aside class="sidebar sidebar-first" role="complementary">
        {{ page.sidebar_first }}
      </aside>
    {% endif %}

    {% if page.sidebar_second %}
      <aside class="sidebar sidebar-second" role="complementary">
        {{ page.sidebar_second }}
      </aside>
    {% endif %}

  </main>

  <footer class="site-footer" role="contentinfo">
    {% if page.footer_first %}
      {{ page.footer_first }}
    {% endif %}
    {% if page.footer_second %}
       {{ page.footer_second }}
    {% endif %}
    {% if page.footer_third %}
       {{ page.footer_third }}
    {% endif %}
  </footer>

</div>
